@model RapidAuto.MVC.Models.Commandes.Commande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilisateurID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilisateurID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiculeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculeID)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.ID}) |
    <a asp-action="Index">Retour à la liste des commandes</a>
</div>
